.drink-selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    text-align: center;
  }
  
  .title {
    font-family:'Sacramento', cursive;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px
  }
  
  .button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 500px; 
    margin: 0 auto;
  }
  
  .drink-button {
    width: 100px;
    height: 100px;
    border: none;
    cursor: pointer;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
  }
  
  .selected-drink {
    margin-top: 20px;
    font-size: 1.2rem;
  }
  