.widget-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .drag-bar {
    width: 100%;
    height: 50px;
    -webkit-app-region: drag; 
    cursor: grab;
  }
  
  .content {
    flex-grow: 1;
    -webkit-app-region: no-drag;
  }
  
  .borders {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; 
    box-sizing: border-box;
    pointer-events: none;
  }
  